@model EmptyStock.Domain.Models.Stock.Request

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Заказ</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CreatorId" hidden/>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Идентификатор продукта</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Стоимость</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Количество</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-2">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
