@model IEnumerable<EmptyStock.Domain.Models.Stock.Receipt>

@{
    ViewData["Title"] = "Поставки";
}

<h1>Поставки</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Количество
            </th>
            
            <th>
                Продукт
            </th>
            <th>
               Создатель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserName)
            </td>
            <td>
                <a class="link-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
